body{
    font-family: monospace;
}

/*
This section is used to style the input section elements:
*/
#inputSection{
    margin-top: 15dvh;
}

#inputSection button{
    
    padding: 10px;
    border: none;
    font-family: monospace;
    font-size: x-large;
    font-weight: bolder;
    background-color: antiquewhite;
    border-radius: 15px;
}
#Build:hover{
    font-size: xx-large;
    padding: 5px;
}

#inputBox{
    width: 60dvw;
    height: 3dvh;
    border: 3px solid black;
    border-radius: 10px;
    font-size: x-large;
}
/*make sure min width should be 600px */

/*This section is used to style the screen part*/

.screen{
    width: 60dvw;
    height: 40dvh;
    border: 0.5px solid black;
    margin-top:15dvh;
    margin-left:20dvw ;
}
#options{
    margin: 5dvh;
    position: relative;
}
#options button{
    padding: 5px;
    border: none;
    font-family: monospace;
    font-size: larger;
    font-weight: bolder;
}

#buildImage{
    text-align: center;
    font-size: 3dvh;
}

/* Information section styling starts from here*/

#infoParaList{
    list-style-type: none;;
}

/*Footer*/